body {
  margin: 0;
}

html {
  max-height: 100%;
}
.main-background {
  background-color: #defcf9;
}

span {
  font-weight: bold;
}

/* Title section */

#title {
  font-family: 'Raleway', sans-serif;
    text-align: center;
padding-top: 7%;
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: 8px;
}

.gif-container {
  width: 200px;
margin: auto;
}

.gif {
  max-width: 100%;
}

.description-container {
  max-width: 50%;
  margin: auto;
}

#description {
    text-align: center;
}

/* Form section */

.form {
  background-color: #cca8e9;
  width: 50%;
  margin: auto;
  padding: 5%;
}

.type {
  max-width: 50%;
}

#dropdown {
  max-width: 60%;
}

#share {
  margin-left: 12px;
}

/* Thankyou Section */

.thank-you {
  text-align: center;
  padding-top: 5%;
}

.paw {
  margin-bottom: 60px;
}

/* Footer Section */

.footer {
  text-align: center;
  background-color: #c3bef0;
  margin: 0;
  padding-top: 5%;
  padding-bottom: 2%;
}

.VR {
  padding-top: 2%;
}
